.submit1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 49px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: auto;
}